doctype
html
	head
		block title
			title Title
		block styles
			//- link(rel='stylesheet', href='/styles/vendor.css')
			link(rel='stylesheet', href='/styles/styles.css')
	body
		block body
		block scripts
			script(src='/scripts/vendor.js')
			script(src='/scripts/app.js')